<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/about.css">
     <style>
        body {
            background-image: url({{ url_for('static', filename='assets/img1.jpeg') }});
            
        }
     </style>
</head>
<body>
    <div class="about">
    <div class="container">
    <h1>Introducing  <span class="alert"><span class="fl">P</span>hish<span class="fl">A</span>lert</span></h1>
    <p>Keep safe from scams with a simple click.We're here to protect you online, making sure you can click with confidence.</p>
</div> 
        <div class="alltext">
        <h2>Our Mission</h2>
        <p>We are dedicated to making the internet a safer and more secure place. Our goal is to protect people from online threats and scams, ensuring their personal information remains safe. By implementing measures to prevent scammers from stealing sensitive data, we aim to create a digital environment where everyone can browse and interact with confidence. Together, let's work towards a safer internet for all.</p>
    </div>
    </div>
   
</body>
</html>
